.user-block {
    display: flex;
    margin-bottom: 1%;
}

.photo-box {
    border: solid rgb(56, 56, 56);
    width: 10%;
    height: auto;
    margin-right: 2%;
}

.photo {
    width: 100%;
    height: 100%;
}

.details-box {
    display: flex;
    flex-direction: column;  
    border: solid rgb(56, 56, 56);
    width: 100%;
    height: 100px;
    padding: 0.5%;
}

.details-box span {
    align-self: flex-end;
}